<%= form_for(@charts_sample) do |f| %>
  <% if @charts_sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@charts_sample.errors.count, "error") %> prohibited this charts_sample from being saved:</h2>

      <ul>
      <% @charts_sample.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
