<h1>Listing charts_samples</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @charts_samples.each do |charts_sample| %>
  <tr>
    <td><%= link_to 'Show', charts_sample %></td>
    <td><%= link_to 'Edit', edit_charts_sample_path(charts_sample) %></td>
    <td><%= link_to 'Destroy', charts_sample, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sample', new_charts_sample_path %>
